.cookieModal {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  text-align: center;
  padding: 20px;
}
.cookieTitle {
  margin: 0;
}
.cookieText {
  font-size: .9rem;
}
.cookieLink {
  color: #A8CF45;
  text-decoration: none;
}
.cookieButton {
  color: #A8CF45;
  border: 1px solid #A8CF45;
  padding: 8px 10px;
  border-radius: 7px;
  background: transparent;
  cursor: pointer;
}