.container--shelf :global(.vtex-product-summary-2-x-nameContainer) {
  justify-content: center;
}
.container--shelf{/*padding: 10px;*/position: relative;}

.element--shelf .brandName{
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 15px;
  color: #787878;
  font-weight: 400;
}
.nameContainer{
  justify-content: center;
}
.element--shelf .nameContainer{
  padding-bottom: 0;
  font-size: 16px;
  min-height: 75px;
  text-align: center;
}
.priceContainer{
  padding: 0.5rem 0;
}
.element--shelf{
  padding: 15px;
}
.element--shelf :global(.vtex-button){
  background: #57564B;
  color: #A8CF45;
  text-transform: inherit;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  height: 34px;
  border-radius: 35px;
}
.sellingPrice{
  color: #A8CF45;
  font-size: 33px;
  font-weight: bold;
} 

/* LISTS E GRID SEARCH */

.container--listLayout{
  max-width: none!important;
}
.brandName{
  font-size: 16px;
}
.productBrand--summaryListDesktop{
  font-size: 16px;
  font-weight: 600;
}
.container--shelf :global(.vtex-numeric-stepper__minus-button),
.container--shelf :global(.vtex-numeric-stepper__plus-button),
.container--shelf :global(.vtex-numeric-stepper__input){
    height: 34px !important;
}