
.cartIcon{
    width: 30px;
    height: 30px;
}
:global(.vtex-login-2-x-profileIcon){
    width: 30px;
    height: 30px;
}
:global(.vtex-minicart-2-x-cartIcon){
    width: 30px;
    height: 30px;
}
:global(.vtex-store-components-3-x-searchIcon){
    width: 30px;
    height: 30px;
    color: #57564B;
}
/* Mobile */
@media (max-width: 1023px) {
    :global(.vtex-login-2-x-profileIcon){
        width: 30px;
        height: 30px;
    }
    :global(.vtex-store-icons-0-x-cartIcon){
        width: 30px;
        height: 30px;
    }
}