.content {
    position: relative;
    padding-top: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #F2F2F2;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 4rem 2rem 2rem 2rem;
}

.options {
    width: 50%;
}

.contentForm {
    width: 50%;
}
.formTitle{
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
.label{
    text-transform: initial;
    text-align: left;
    color: #57564B;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    width: 100px;
}
.inputContainer :global(.vtex-styleguide-9-x-input){
    font-size: 14px;
}
.profile{
    color: #57564b;
}
@media only screen and (max-width: 640px) {
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
}