.footerLayout {
    background: #57564B;
    border-top: 5px solid #A8CF45;
    margin-top: 10px;
}
:global(.vtex-store-header-2-x-headerStickyRow--top-bar) :global(.vtex-sandbox-iframe),  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-sandbox-iframe){
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 99999;
}
.footerLayout :global(.vtex-flex-layout-0-x-flexCol--col-sandbox-menu) :global(.vtex-sandbox-iframe) {
  position: relative;
  bottom: unset;
  right: unset;
}
@media screen and (max-width: 760px) {
  .footerLayout .socialNetworksContainer, .footerLayout .acceptedPaymentMethodContainer {
    justify-content: center;
  }
  .footerLayout :global(.vtex-store-components-3-x-imageElementLink) {
    display: flex;
    justify-content: center;
  }
}
