.link--duvidas-bottom-tel{
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
}
.link--fale-conosco-tel-header{
    font-size: 16px;
    color: #57564B;
    text-decoration: none;
}
.link--text-submenu{
 color:#A8CF45;  
 text-decoration: none; 
 font-weight: 500;
 text-transform: uppercase;
 font-size: 13px;
}
.link--atendimento-bottom{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.link--titulosminibanner{
    font-size: 19px;
    font-weight: 500;
    color: #57564B;
    letter-spacing: 5px;
    text-decoration: none;
    margin: 15px;
}
.link--bottom-lgpd-link{
    color: #fff;
    text-decoration: none;
}
.childrenContainer--whatsappLinkFixed{
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 99999;
}