.newsletterForm {
    display: flex;
    max-width: 700px;
}

.emailInputContainer {
    flex-grow:1;
    margin-right: -2rem;
}
.emailInputContainer :global(.vtex-input-prefix__group){
    border-radius: 30px;
    border: 0;
}
.defaultSuccessMessage {
    color: #fff;
    border: 1px solid #A8CF45;
    padding: 1rem;
    margin: 0px;
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    background: #8bc34a1f;
    text-transform: uppercase;
    font-weight: 500;
}
.formSubmitContainer :global(.vtex-button){
    position: relative;
    width: 120px;
    background: #fff;
    border: 0;
    border-radius: 30px;
}
.formSubmitContainer :global(.vtex-button__label){
    font-size: 14px;
    color: #57564B;
}